:root,
body {
  margin: 0;
  padding: 0;
}

/* HEADER STYLING */

header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(236, 58, 72);
  text-align: center;
  height: 10vh;
  width: 100vw;
}

h1 {
  font-size: clamp(2rem, 3vw, 4rem);
  font-family: 'Gluten', sans-serif;
  color: #f7f2e0;
  text-transform: uppercase;
  text-shadow: 0.025em 0.075em 0 #ffb650, 0.05em 0.1em 0 #ffd662,
    0.075em 0.125em 0 #ff80bf, 0.1em 0.15em 0 #ef5097, 0.125em 0.175em 0 #6868ac,
    0.15em 0.2em 0 #90b1e0;
}

/* Fruit List - MAIN CONTENT */

.fruit-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 5rem;
  gap: 2rem;
}

.fruit-card {
  box-shadow: 2px 0 0.5rem lightgrey;
  border-radius: 0.75rem;
  width: clamp(25rem, 30vw, 50rem);
  position: relative;
}

.fruit-card-top {
  display: flex;
  background-color: rgb(236, 58, 72);
  justify-content: space-between;
}

.fruit-card-top > h3 {
  font-family: 'Hubballi', sans-serif;
  font-size: clamp(2rem, 7vw, 3rem);
  color: rgb(255, 255, 255);
  margin: 0;
  padding: 1rem;
}

.fruit-card > img {
  width: 100%;
}

.fruit-card-top > button {
  font-family: 'Hubbali', sans-serif;
  font-weight: 700;
  width: clamp(8rem, 9vw, 10rem);
  font-size: clamp(0.5rem, 4vw, 1.5rem);
  color: rgb(236, 58, 72);
  margin: 1rem;
  background-color: rgb(255, 255, 255);
  border: none;
  border-bottom-left-radius: 1rem;
  border-top-right-radius: 1rem;
  box-shadow: 0.05rem 0 0.2rem black;
  text-transform: uppercase;
}

.fruit-card-top > button:active {
  box-shadow: 0.1rem -0.1rem 0.2rem black;
}

/* Fruit Container - MAIN CONTAINER */

.fruit-container {
  border: 1px solid blue;
  display: flex;
  flex-direction: row;
}

.fruit-info {
  padding: 1rem 2rem;
}

.info-top {
  display: flex;
  justify-content: space-between;
}

.info-top > h3 {
  margin: 0;
  font-family: 'Hubbali', sans-serif;
  font-size: clamp(2.5rem, 3rem, 2vw);
  font-weight: 900;
  color: rgb(236, 58, 72);
}

.info-top > a {
  text-decoration: none;
  font-family: 'Hubbali', sans-serif;
  font-weight: 700;
  font-size: clamp(1rem, 1.4vw, 1.5rem);
  padding: 0.5rem 1rem;
  background-color: rgb(236, 58, 72);
  margin: 1rem;
  color: rgb(255, 255, 255);
  border: none;
  border-bottom-left-radius: 1rem;
  border-top-right-radius: 1rem;
  box-shadow: 0.05rem 0 0.2rem black;
  text-transform: uppercase;
}

.image-container > img {
  width: 50vw;
}

.fruit-description {
  font-family: 'Hubbali', sans-serif;
  font-size: clamp(1.5rem, 2vw, 2rem);
}

@media (max-width: 768px) {
  .fruit-container {
    flex-direction: column;
  }

  .image-container > img {
    width: 100vw;
  }
}

/* Footer Styling */

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 0 2rem;
    background-color: rgb(236,58,72);
    height: 15vh;
}

footer > h2 {
    font-size: clamp(1.75rem, 3vw, 2.5rem);
    font-family: 'Gluten', sans-serif;
    color: #f7f2e0;
    text-transform: uppercase;
    text-shadow: 0.025em 0.075em 0 #ffb650, 0.05em 0.1em 0 #ffd662,
      0.075em 0.125em 0 #ff80bf, 0.1em 0.15em 0 #ef5097, 0.125em 0.175em 0 #6868ac,
      0.15em 0.2em 0 #90b1e0;
}

.links > a {
    text-decoration: none;
    color: white;
    font-family: "Hubbali", sans-serif;
    font-size: clamp(0.5rem, 1.5vw, 1.5rem);
    padding: 0 clamp(0.5rem, 2vw, 2rem);
}


.links > a:nth-child(2) {
    border-left: 1px solid white;
    border-right: 1px solid white;

}
